<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Press+Start+2P&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/style.css">

    <title>My Blog</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">

            <a class="navbar-brand mx-3" href="/">
                <div class="navbar-brand-flex">
                <img src="/images/logo.png" alt="Logo" width="45" height="45"
                    class="d-inline-block align-text-bottom">
                <span class="title">MineBlog</span>
            </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end fst-italic" id="navbarNavDropdown" style="font-family:  sans-serif">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link" aria-current="page" href="/" >Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>