<%- include("partials/navbar.ejs") %>




<div class="container my-5 transparent about">
    <div class="p-5 text-center bg-body-tertiary rounded-3 transparent" >
      <img src="images/logo.png" alt="Logo" class="bigIcon">
      <h1 class="text-body-emphasis title">MineBlog</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Capstone Project from an Udemy curse. <br>
        Backend and EJS module. <br>
        Please hire me :c
      </p>

    </div>
  </div>




<%- include("partials/footer.ejs") %>